body {
    color: #444444;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size:12pt;
    background-color: #ffffff; 
    padding: 20px;
    background: rgba(184, 177, 177, 0.61);
}

* {
    box-sizing: border-box;
}

.gif-select:hover {
   background-color: darkcyan;

}

figure {
    margin: 5px;
    /* border: solid 1px red; */
    font-size: 12pt;
}
button {
    margin: 2px;
    /* color: darkkhaki */
}

figcaption {
    margin:0px;
}

.gif-img {
    margin:0px;
}

ul {
    padding:5px;
    color: blue;
}
